@import "./variable";

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  font: $font-size-small 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif, 'Droid Sans Fallback';
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
}

a, body {
  color: $color-text
}

img {
  max-width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clear {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}
